body {
    font-family: Arial, sans-serif;
    background-color: #1B2025;
    margin: 0;
    padding: 0;
}

main {
    flex: 1;
}

/* permet de garantir que le pied de page est toujours tout en bas */
.page-container {
    min-height: 100vh; /* 100% de la hauteur de la vue */
    display: flex;
    flex-direction: column;
}

/******************************************************** ENTETE ********************************************************/
.entete {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    z-index: 10;
}

.bannier {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:transparent;
    backdrop-filter: blur(30px);  /*flou */
}

.logo img {
    position: relative;
    z-index: 1;
    max-height: 60px; /* Largeur max du logo */
    height: 50px;
    width: auto; /* S'ajuste automatiquement en fonction de la hauteur */
    padding-left: 15px;
    padding-top: 8px;
    align-items: center;
}

/******************************************************** MAIN ACCUEIL ********************************************************/
.hero {
    text-align: left;
    background-size: cover;
    color: white;
    height: 100vh; /* pousse le pied de page contre le bas */
    font-size: 18px;
    line-height: 1.5;
    padding-left: 0px;
}

.title-container  {
    clip-path: polygon(85% 0%, 100% 100%, 0% 100%, 0% 0%);
    width: 600px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 80px;
    left: 0px;
    background-color: transparent; /* Blanc avec 60% d'opacité */
}

.transparent-background {
	background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    position: relative; /* Nécessaire pour positionner la date */
    max-width: 800px;
    margin: 0 auto;
}

    #gradient-background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at top left, rgba(95, 108, 124, 0.7) , rgba(0, 0, 0, 0.7) 70%);
        z-index: -3; /* Derrière la vidéo */
    }


/******************************************************** FOOTER ********************************************************/
footer {
    background-color: black;
    color: white;
    height: 50px;
    width: 100%;
    bottom: 0;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}

/********************/
/* footergrid */
/********************/
.footergrid {
    /*border: dotted;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 3 colonnes réparti au mieux, à la largeur de l'écran */
    grid-template-rows: 22px 28px; /* 2 lignes */
    gap: 0px; /* espaces entre les éléments */
}

.legalnotice a {
    /* border: dotted; */
    /* --- */
    display: flex;
    justify-content: start; /* tout à gauche dans la case */
    align-items: end; /* tout en bas dans la case */
    /* --- */
    grid-column-start: 1; /* 1 = début de la grille */
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 70%; /* Réduit l'interligne
    /* --- */
    padding-left: 10px;
    padding-top: 10px;
    color: lightgray;
    text-decoration: none;
    font-size: 12px;
}

.contact a {
    /*border: dotted;*/
    /* --- */
    display: flex;
    justify-content: end; /* tout à droite dans la case */
    align-items: start; /* tout en bas dans la case */
    /* --- */
    grid-column-start: 3; /* 3 = fin de la grille */
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /* --- */
    padding-right: 10px;
    padding-top: 10px;
    color: lightgray;
    text-decoration: none;
    font-size: 12px;
}

.copyright {
    /* border: dotted; */
    /* --- */
    display: flex;
    justify-content: end; /* tout à droite dans la case */
    /* --- */
    grid-column-start: 3; /* 3 = fin de la grille */
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    /* --- */
    padding-top: 0px;
    padding-right: 10px;
    color: gray;
    font-size: 11px;
}

/* debug visuel : montre les débordements */
/* * {
  outline: 1px solid rgba(157, 255, 0, 0.2); 
} */

/******************************************************** GESTION DIMENSION ECRAN ********************************************************/

@media (max-width: 1200px) {
    /* Pied de page */
    .footergrid {
        display: grid;
        grid-template-columns: 8fr 1fr;
        grid-template-rows: 40px 10px;  /* deux lignes */
        gap: 0;
        align-items: start;
        background-color: black;
        min-height: 70px;             /* hauteur minimale pour englober les deux lignes */
        padding: 20px;
    }







