body {
	font-family: sans-serif;
	background: radial-gradient(circle at top left, rgba(95, 108, 124, 0.7), rgba(0, 0, 0, 0.8) 40%);
	color: white;
	margin: 0;
	padding: 0;
}

* {
    box-sizing: border-box;
    /* border: #333 solid 2px; */
}

h1 {
	margin: 10px 0 0 15px;
}

main {
	padding: 20px;
	padding-left: 30px;
	margin-top: 70px;
}

.entete {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: 100%;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
    z-index: 100;
}

.bannier {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color:transparent;
	background-color: rgba(0, 0, 0, 0.2); /* noir semi-transparent pour assombrir */
    backdrop-filter: blur(30px);  /*flou */
}

pre {
	background: #f0f0f0;
	color: #333;
	padding: 10px;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: auto;
}

.sensor {
	margin-bottom: 20px;
}

.grid-container-widgets {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 colonnes de largeur égale */
    gap: 30px; /* espace entre les widgets */
    padding: 10px;
}

.widget {
    background-color: rgba(0, 0, 0, 0.315); /* noir avec 50% de transparence */
    padding: 15px;
    border-radius: 25px;
	height: 500px;
    box-shadow: 
        0 12px 30px rgba(0, 0, 0, 0.35),  /* ombre principale plus prononcée */
        0 4px 10px rgba(0, 0, 0, 0.2);    /* ombre secondaire pour le relief */
    text-align: left;
}

.widget h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1em;
    text-align: left;
}

.widget {
    position: relative;
    transition: all 0.5s ease-in-out; /* transition sur tout */
}

.fullscreen-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10;
    background: rgba(255, 255, 255, 0); /* fond transparent par défaut */
    border: none;
    color: white;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 8px;
}

/* effet au survol */
.fullscreen-btn:hover {
    background: rgba(255, 255, 255, 0.2); /* fond semi-transparent */
    transform: scale(1.2); /* léger agrandissement */
}

.widget.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    border-radius: 0;
    box-shadow: none;
    padding: 20px;
    background: radial-gradient(circle at top left, rgba(95, 108, 124, 1), rgba(0, 0, 0, 1) 40%);
    transition: all 0.5s ease-in-out; /* animation fluide */
}

.debug-container {
	/* border: grey solid 1px; */
	margin: 40px 10px 30px 10px;
	padding: 20px;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.3);
	box-shadow: 
        0 12px 30px rgba(0, 0, 0, 0.35),  /* ombre principale plus prononcée */
        0 4px 10px rgba(0, 0, 0, 0.2);    /* ombre secondaire pour le relief */
}

.title-debug {
    display: flex;
    justify-content: space-between; /* texte à gauche, flèche à droite */
    align-items: center;
    cursor: pointer;
    user-select: none;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-left: 0px;
	font-size: large;
	color: gray;
}
.title-arrow {
    transition: transform 0.3s ease;
}

/* rotation de la flèche lorsqu'on ferme */
#debugContent.hidden + .title-debug .title-arrow {
    transform: rotate(-90deg); /* ou 90deg selon flèche */
}

#debugContent {
    overflow: hidden;
    transition: max-height 0.3s ease;
    max-height: 2000px; /* assez grand pour tout le contenu ouvert */
}

#debugContent.hidden {
    max-height: 0;
}

.car-container {
    position: relative; /* indispensable pour que l'enfant absolute se réfère au container */
    width: 100%;
    height: 100%;
}

#carTop {
    position: absolute;
    top: 20%;   /* Positon vertical */
    left: 20%;  /* Position horizontal */
    width: 17%; /* taille */
    height: auto;
}

#carSide {
    position: absolute;
    top: 15%;   /* Positon vertical */
    left: 55%;  /* Position horizontal */
    width: 40%; /* taille */
    height: auto;
}

#carBack {
    position: absolute;
    top: 65%;   /* Positon vertical */
    left: 65%;  /* Position horizontal */
    width: 17%; /* taille */
    height: auto;
}

#carTop, #carSide, #carBack {
    transition: transform 0.1s linear; /* transition fluide pour la rotation */
    transform-style: preserve-3d; /* pour un effet 3D fluide */
}

#car3DContainer {
  width: 100%;
  height: 400px; /* ou 100% si parent a une hauteur définie */
}

#cameraWidget video {
    display: flex;
    justify-content: center; /* centre horizontalement */
    align-items: center;     /* centre verticalement */
    height: 90%;  
    width: 100%;
    margin-top: 4%;
    margin-bottom: 4%;
    background: transparent;
}
