<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Dashboard Capteurs</title>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
</head>

<body>
    <h1>Données reçues du téléphone</h1>
    <pre id="output"></pre>

    <script>
        // Adresse du serveur Flask
        const socket = io("http://192.168.50.238:5000");

        // Message reçu du serveur
        socket.on("sensor", msg => {
            document.getElementById("output").textContent +=
                JSON.stringify(msg, null, 2) + "\n\n";
        });

        // Prévenir le serveur que le PC est connecté
        socket.emit("sensor", { type: "system", message: "PC connecté" });
    </script>
</body>
</html>
